@import './normalize.css';
@import './tailwind.css';

* {
	box-sizing: border-box !important;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
#app {
	position: relative;
	width: 100%;
	height: auto;
	padding: 1px;
	min-height: 100vh;
	box-sizing: border-box;
}
.container {
	margin: 0 auto !important;
	padding: 1px;
	box-sizing: border-box;
}

html,
body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	font-family: 'PingFangTC', 'PingFangSC', 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fafafa !important;
	scroll-behavior: smooth !important;
	box-sizing: border-box;
}
p {
	margin: 0;
}

button:focus {
	outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

h1 {
	// 32px
	font-size: 2em !important;
}
h2 {
	// 26px
	font-size: 1.625rem !important;
}
h3 {
	// 24px
	font-size: 1.5em !important;
}
h4 {
	// 20px
	font-size: 1.25em !important;
}
h5 {
	// 16px
	font-size: 1em !important;
}
h6 {
	// 14px
	font-size: 0.875em !important;
}
